@import url('https://fonts.googleapis.com/css?family=Muli');
body{
	font-family: 'Muli', sans-serif;
}
.is-darks{
	background-color: #24292e !important;
}
.customDark{
	background-color: #2b3137 !important;
}
#index-img{
	max-height: 450px !important;
	max-width: 70% !important;
	margin-bottom: -48px;
}
.width{
	width: 60%;
	margin-left: 20%;
}
.first{
 margin-top: 50px !important;
}
.yellow:hover{
	color: #f2e63c !important;
}
.yellow{
	color: #f2e63c !important;
}
.button .is-small{
	font-size: 10px !important;
}
pre{
	background-color: transparent !important;
}
